<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <table>
      <tr></tr>
      <tr>
        <th>S.No</th>
        <th>Name</th>
        <th>Age</th>
        <th>Can vote</th>
      </tr>
      {% for context in context %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{context.name}}</td>
        <td>{{context.age}}</td>
        <td>{% if context.age >= 18 %} 👍 {% else %} 👎 {% endif %}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
