{% extends "base.html" %} {{% block start %}

<div class="container mt-5">
  <form
    class="col-6 mx-auto card p-3 shadow-lg"
    method="post"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <h2>Add Receipe</h2>
    <hr />
    <div class="mb-3">
      <label class="form-label">Receipe Name</label>
      <input name="receipe_name" required type="text" class="form-control" />
    </div>
    <div class="mb-3">
      <label class="form-label">Receipe Discription</label>
      <textarea
        class="form-control"
        name="receipe_description"
        required
      ></textarea>
    </div>
    <div class="mb-3">
      <label class="form-label">Receipe Image</label>
      <input name="receipe_image" type="file" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Add Receipe</button>
  </form>

  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Receipe name</th>
        <th scope="col">receipe_description</th>
        <th scope="col">Image</th>
        <th scope="col">Edit</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for receipe in receipes %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{receipe.receipe_name}}</td>
        <td>{{receipe.receipe_description}}</td>
        <td>
          <img src="{{ receipe.receipe_image.url }}" style="height: 100px" />
        </td>
        <td>
          <a href="/update-receipe/ {{receipe.id}}/" class="btn btn-warning">
            Edit
          </a>
        </td>
        <td>
          <a href="/delete-receipe/ {{receipe.id}}/" class="btn btn-danger"
            >Delete</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}}
